html, body {
	height: 100%;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

html {
	overflow: hidden;
}

body {
	color: #000;
	font: 300 16px / 1.25 $font-text;
	overflow-x: hidden;
	overflow-y: auto;

	&.menu-open {
		overflow: hidden;
	}

	.js & {
		overflow: hidden;
	}
}

h2 {
	color: $plum;
	font-family: $font-accent, sans-serif;
	font-size: 2.5em;
	margin-bottom: 0.5em;
	text-align: center;
	text-transform: lowercase;

	@media (min-width: $start-lg) {
		font-size: 3.5em;
	}
}

sup {
	vertical-align: super;
    font-size: smaller;
}

b, strong {
	font-weight: 700;
}

img {
	max-width: 100%;
}

#content {
	height: 100%;
	margin: 0 auto;
	// overflow-x: hidden;
	// overflow-y: auto;
	// position: absolute;
	// left: 50%;
	// top: 0;
	//transform: translate3d(-50%,0,0);
	// scroll-snap-points-y: repeat(100%);
	// scroll-snap-type: mandatory;
	transform: translate3d(0,0,0);
	backface-visibility: hidden;
	width: 100%;
	z-index: 2;
	-webkit-transform-style: preserve-3d;
}

section {
	outline: none;
	position: relative;
	transform: translate3d(0,0,0);
	transition: transform 500ms ease;
	z-index: 2;
}

.section-inner {
	@extend %fullscreen;
	&:not(.gallery-section-inner) {
		align-items: center;
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
}

.fade-in {
	animation: fade-in 300ms ease forwards;
}

.fade-out {
	animation: fade-out 300ms ease forwards;
	opacity: 1;
}