html
	head
		link(rel="stylesheet", href="css/main.min.css")
		title Stephanie Plumeri Ertz
	body
		a(href="#menu")

		block content

		footer(role="contentinfo")

		nav(id="menu")
			ul
				li
					a(href="/#plum") Code
				li
					a(href="/#noms") Confections
				li
					//- TODO: Link to download Resume
					a(href="" download) Download Resume
		script(src="js/main.min.js")
