html
	head
		link(rel="stylesheet", href="css/main.min.css")
		title Stephanie Plumeri Ertz
	body
		a#navlink(href="#menu") Menu

		block content

		nav(id="menu")
			ul
				li
					a(href="/#code") Code
				li
					a(href="/#confections") Confections
				li
					a(href="/#contact") Contact
		script(src="js/main.min.js")
