html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(name="mobile-web-app-capable", content="yes")
		link(rel="icon", type="image/png", href="/img/icon/32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="/img/icon/96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="/img/icon/16.png", sizes="16x16")
		link(rel="apple-touch-icon-precomposed" href="/img/icon/favicon-152.png")
		link(rel="stylesheet", href="/css/main.min.css")
		script.
			document.getElementsByTagName('html')[0].className = 'js';
		title Stephanie Plumeri Ertz
	body(class="page-" + page)
		a#navlink(href="#menu") 
			span 
			b Menu

		main#content
			block content

		nav(id="menu")
			ul
				li
					a.logo(href="/#intro") 
						span Home
				li
					a(href="/#code") Code
				li
					a(href="/#confections") Confections
				li
					a(href="/#contact") Contact
		script(src="/js/main.min.js")
