#code .section-inner, #confections .section-inner {
	&:not(.gallery-section-inner) {
		h2 {
			margin-top: 2.5em;
		}
	}

	.content {
		align-items: center;
		display: flex;
		flex-flow: column;
		justify-content: center;
		flex: 0 0 auto;

		del {
			opacity: 0.5;
		}

		del, span {
			display: block;
			text-align: center;
			margin-bottom: 0.5em;
		}

		b {
			color: $plum;
			font-size: 1.125em;
		}

		.cta {
			@extend %button;
			margin-top: 0.75em;
		}
	}
}

#confections .section-inner:not(.gallery-section-inner) {
	h2 {
		margin-top: 1.5em;
	}

	.cta {
		background: $nom;
		color: $chocolate;
		font-weight: 400;

		&:hover, &:focus {
			background: darken($nom, 7%);
			color: $chocolate;
		}
	}
}