#code .section-inner, #confections .section-inner {
	&:not(.gallery-section-inner) {
		h2 {
			margin-top: 2.5em;
			position: relative;

			&:before {
				background: url("/img/plumnom.svg") no-repeat left center / auto 100%;
				content: "";
				display: block;
				height: 120px;
				left: 50%;
				margin-left: -56px;
				position: absolute;
				top: -136px;
				width: 112.5px;
			}
		}
	}

	.content {
		align-items: center;
		display: flex;
		flex-flow: column;
		justify-content: center;
		flex: 0 0 auto;

		del {
			opacity: 0.5;
		}

		del, span {
			display: block;
			text-align: center;
			margin-bottom: 0.5em;
		}

		b {
			color: $plum;
			font-size: 1.125em;
		}

		.cta {
			@extend %button;
			margin-top: 0.75em;
		}
	}
}

#confections .section-inner:not(.gallery-section-inner) {
	h2 {
		margin-top: 1.5em;

		&:before {
			background-position: right center;
		}
	}

	.cta {
		background: $nom;
		color: $chocolate;
		font-weight: 400;

		&:hover, &:focus {
			background: darken($nom, 7%);
			color: $chocolate;
		}
	}
}

.js #code .section-inner h2, .js #confections .section-inner h2 { 
	&:before {
		display: none;
	}
}