#intro .section-inner {
	align-items: center;
	display: flex;
	height: 100vh;
	flex-flow: column;
	font-family: $font-accent;
	justify-content: center;
	text-align: center;
	text-transform: lowercase;

	h1 {
		font-size: 1.5em;
		line-height: 1;
		margin: 0 0 150px;

		@media (min-width: $start-md) {
			font-size: 1.75em;
			margin-bottom: 200px;
		}

		@media (min-width: $start-lg) {
			font-size: 2.25em;
			margin-bottom: 275px;
		}

		i {
			color: $plum;
			font-weight: 400;
		}
	}

	ul {
		text-align: center;

		@media (min-width: $start-lg) {
			font-size: 0.925em;
		}

		li {
			@media (min-width: $start-lg) {
				display: inline-block;
			}

			&:not(:last-child):after {
				color: $plum;
				content: "\2022";
				display: block;
				font-size: 0.5em;
				line-height: 2;

				@media (min-width: $start-lg) {
					display: inline-block;
					font-size: 0.75em;
					margin: 0 10px;
				}
			}
		}
	}
}