.gallery-detail {
	@extend %fullscreen;
	overflow: auto;
	position: relative;
	width: 100%;

	&:before {
		border-radius: 100%;
		bottom: 0;
		//content: "";
		height: 400px;
		left: 0;
		opacity: 0.1;
		position: fixed;
		transform: translate3d(-50%,50%,0);
		width: 400px;
	}

	.gallery-detail-inner {
		letter-spacing: 0.01em;
		margin: 0 auto;
		max-width: 1200px;
		position: relative;
		z-index: 2;
	}

	h1 {
		font-family: $font-accent, sans-serif;
		font-size: 1.75em;
		flex: 0 0 auto;
		line-height: 1;
		margin: 1em 0;
		width: 100%;

		@media (min-width: $start-md) {
			font-size: 2em;
			margin: 0.5em 0 1em;
		}
	}

	h2 {
		font-size: 1.375rem;
		font-weight: 300;
		margin: 1.25em 0 0.5em;
		text-align: left;
	}

	.info {
		font-size: 0.925em;
		line-height: 1.4;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		letter-spacing: 0.02em;
		margin-top: -1.5em;

		@media (min-width: 750px) {
			margin-top: -0.5em;
			width: calc(50% - 15px);
		}

		@media (min-width: $start-lg) {
			width: calc(40% - 20px);
		}

		.info-section {
			width: 100%;

			@media (min-width: 500px) {
				width: calc(50% - 10px);

				&:nth-child(1) {
					width: 100%;
				}
			}

			@media (min-width: 750px) {
				width: 100%;
				&:nth-child(1) {
					h2 {
						margin-top: 0;
					}
				}
			}
		}

		ul {
			li {
				padding-left: 1.25em;
				position: relative;

				&:not(:last-child) {
					margin-bottom: 0.25em;
				}

				&:before {
					background: $plum;
					border-radius: 10px;
					content: "";
					height: 5px;
					left: 0.25em;
					position: absolute;
					top: 0.475em;
					width: 5px;
				}
			}
		}
	}

	.preview-media {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		li {
			margin-bottom: 10px;
			width: 100%;

			@media (min-width: 500px) {
				width: calc(50% - 5px);

				&:nth-child(1) {
					width: 100%;
				}
			}

			@media (min-width: 750px) {
				width: 100%;
			}
		}

		.preview-media-item {
			background: #fff;
			position: relative;
			padding: 10px;
			transition: all 200ms ease;
			transform: translate3d(0,0,0) scale(1);

			img, video {
				display: block;
				height: auto;
				width: 100%;
			}
		}

		a {
			display: block;
			cursor: pointer;
			text-decoration: none;
			transition: all 200ms ease;

			img, .preview-media-caption {
				cursor: pointer;
			}

			&:hover, &:focus {
				transform: translate3d(0,0,1px) scale(1.05);
				box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.3);
				z-index: 2;
			}
		}

		.preview-media-caption {
			//background: rgba(0,0,0,0.125);
			color: #000;
			display: flex;
			// flex-flow: row nowrap;
			// justify-content: flex-end;
			font-size: 0.925em;
			font-family: $font-accent;
			font-weight: 400;
			text-align: right;
			text-transform: lowercase;
			transition: all 200ms ease;

			// &:before {
			// 	content: "";
			// 	background: $plum;
			// 	display: block;
			// 	flex: 0 1 auto;
			// 	height: 1px;
			// 	position: relative;
			// 	top: 15px;
			// 	width: 0;
			// 	transition: all 300ms ease;
			// }

			.text {
				color: #000;
				display: inline-block;
				flex: 0 0 auto;
				margin-left: 2px;
				//padding: 5px;
				transition: all 200ms ease;
			}
		}
	}
}

.gallery-detail.gallery-detail--code {
	background: rgba(65, 22, 55, 0.18);

	// &:before {
	// 	background: #fff;
	// 	box-shadow: 0 0 0 50px $plum, 0 0 0 100px #fff, 0 0 0 150px $plum, 0 0 0 200px #fff;
	// 	opacity: 0.05;
	// }

	h1 {
		color: $plum;
	}

	.gallery-detail-content {
		@media (min-width: $start-md) {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
	}

	.preview {
		@media (min-width: 750px) {
			width: calc(50% - 15px);
		}

		@media (min-width: $start-lg) {
			width: calc(60% - 20px);
		}

		img, video {
			margin-bottom: 10px;
		}
	}
}

.gallery-detail.gallery-detail--nom {
	background: rgba($nom, 0.3);
	// &:before {
	// 	background: #d3a65a;
	// 	box-shadow: 0 0 0 50px #fff, 0 0 0 100px rgba(#d3a65a, 0.5), 0 0 0 150px #fff, 0 0 0 200px rgba(#d3a65a, 0.25);
	// 	opacity: 0.2;
	// }

	h1, h2 {
		color: $chocolate;
	}

	.gallery-detail-content {
		display: flex;
		flex-flow: column;
		align-items: flex-start;

		.info {
			order: 1;
			margin: 0 0 2em;

			ul li:before {
				background: $chocolate;
			}
		}

		.preview {
			order: 2;
		}
		

		@media (min-width: $start-md) {
			flex-flow: row wrap;
			justify-content: space-between;

			.info {
				order: 2;
				width: calc(40% - 15px);
			}

			.preview {
				order: 1;
				width: calc(60% - 15px);
			}
		}

		@media (min-width: $start-lg) {
			.info {
				width: calc(30% - 15px);
			}

			.preview {
				width: calc(70% - 15px);
			}
		}
	}

	& + .gallery-back {
		background: $chocolate;
		color: #fff;

		&:hover, &:focus {
			background: darken($chocolate, 5%);
		}
	}

	.preview-media {
		li {
			width: 100%;
		}
	}
}