$animationSpeed: 500ms;
$icon-height: 80px;
$icon-width: 75px;
$icon-height-md: 110px;
$icon-width-md: 100px;
$icon-height-lg: 160px;
$icon-width-lg: 150px;

#plumnom {
	@extend %fill;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	perspective: 1000px;
	transition: all $animationSpeed ease;
	z-index: 1;

	.plum, .nom {
		backface-visibility: hidden;
		content: "";
		height: $icon-height;
		position: absolute;
		left: 50%;
		perspective: 1000px;
		transform-style: preserve-3d;
		transform: rotateY(0) translate3d(0,-50%,0);
		transition: width $animationSpeed ease, height $animationSpeed ease;
		top: 50%;
		width: $icon-width;

		@media (min-width: $start-md) {
			height: $icon-height-md;
			width: $icon-width-md;
		}

		@media (min-width: $start-lg) {
			height: $icon-height-lg;
			width: $icon-width-lg;
		}
	}

	.plumnom-inner {
		@extend %fill;
		backface-visibility: hidden;
		background: url("/img/plumnom.svg") no-repeat;
		background-size: auto 100%;
		transition: all $animationSpeed ease;
		transform-style: preserve-3d;
		perspective: 1000px;
	}

	.plum {
		z-index: 2;

		.plumnom-inner {
			background-position: left center;
			transform: translate3d(-105%,0,0) scale(1);
		}
	}

	.nom {
		z-index: 1;

		.plumnom-inner {
			background-position: right center;
			transform: translate3d(5%,0,0) scale(1);
		}
	}
}

.js #plumnom {
	bottom: auto;
	height: $icon-height;
	position: fixed;
	margin-top: -34px;
	top: 50%;
	transform: translate3d(0,-50%,0);
	z-index: 3;

	@media (min-width: $start-md) {
		height: $icon-height-md;
	}

	@media (min-width: $start-lg) {
		height: $icon-height-lg;
	}

	.plum, .nom {
		top: 0;
		transform: rotateY(0) translate3d(0,0,0);
	}

	&.page-intro {
		@media (min-width: $start-lg) {
			margin-top: 0;
		}
		.plum {
			z-index: 2;
		}

		.nom {
			z-index: 1;
		}

		&.from-page-code.animating {
			.nom {
				height: $icon-height;
				width: $icon-width;

				@media (min-width: $start-md) {
					height: $icon-height-md;
					width: $icon-width-md;
				}

				@media (min-width: $start-lg) {
					height: $icon-height-lg;
					width: $icon-width-lg;
				}

				.plumnom-inner {
					transform: translate3d(-50%,0,0);
					transition: none;
				}
			}
		}

		&.from-page-code.animating.animation-progress {
			.nom .plumnom-inner {
				transform: translate3d(5%,0,0);
				transition: all $animationSpeed ease;
			}
		}
	}

	&.page-code {
		height: $icon-height;
		margin-top: -54px;
		transform: translate3d(0,-200%,0) rotateY(0);

		.plum {
			height: $icon-height*1.5;
			width: $icon-width*1.5;

			.plumnom-inner {
				transform: translate3d(-50%,0,0);
			}
		}

		&.animating {
			.nom {
				height: $icon-height;
				width: $icon-width;

				.plumnom-inner {
					transform: translate3d(-50%,20%,0);
				}
			}
		}

		&:not(.animating) {
			.nom {
				transform: rotateY(180deg);
				height: $icon-height*1.5;
				width: $icon-width*1.5;

				.plumnom-inner {
					transform: translate3d(50%,0,0);
				}
			}
		}

		&.from-page-confections.animating {
			.nom {
				transform: rotateY(180deg);
				height: $icon-height*1.5;
				width: $icon-width*1.5;

				.plumnom-inner {
					transform: translate3d(50%,0,0);
				}
			}
		}
	}

	&.page-confections {
		height: $icon-height;
		margin-top: -54px;
		transform: translate3d(0,-200%,0) rotateY(180deg);

		.plum {
			z-index: 1;
			height: $icon-height*1.5;
			width: $icon-width*1.5;

			.plumnom-inner {
				transform: translate3d(-50%,0,0);
			}
		}

		.nom {
			z-index: 2;
			transform: rotateY(180deg) translate3d(0,0,1px);
			height: $icon-height*1.5;
			width: $icon-width*1.5;

			.plumnom-inner {
				transform: translate3d(50%,0,0);
			}
		}

		&.from-page-contact.animating {
			.plum {
				transform: rotateY(180deg);
				z-index: 1;
				height: 1.2*$icon-height;
				width: 1.2*$icon-width;

				.plumnom-inner {
					transform: translate3d(50%,10%,0);

					@media (min-width: $start-lg) {
						transform: translate3d(50%,10%,0);
					}
				}
			}

			.nom {
				z-index: 2;
			}
		}
	}

	&.page-contact {
		height: $icon-height;
		transform: translate3d(0,-104%,0) rotateY(180deg);

		@media (min-width: $start-md) {
			transform: translate3d(0,-128%,0) rotateY(180deg);
		}

		@media (min-width: $start-lg) {
			transform: translate3d(0,-164%,0) rotateY(180deg);
		}

		.plum, .nom {
			height: $icon-height;
			width: $icon-width;
		}

		.plum {
			transform: rotateY(180deg);
			z-index: 1;

			.plumnom-inner {
				transform: translate3d(-3.5em,0,0) scale(0.3);

				@media (min-width: $start-lg) {
					transform: translate3d(-6em,-2px,0) scale(0.4);
				}
			}
		}

		.nom {
			transform: rotateY(180deg) translate3d(0,0,1px);
			z-index: 2;

			.plumnom-inner {
				transform: translate3d(8em,0,0) scale(0.3);

				@media (min-width: $start-lg) {
					transform: translate3d(10.25em,0,0) scale(0.4);
				}
			}
		}

		&.from-page-confections.animating {
			.plum .plumnom-inner {
				transform: translate3d(50%,0,0) scale(1);
				transition: none;

				@media (min-width: $start-lg) {
					transform: translate3d(50%,0,0) scale(1);
				}
			}
		}

		&.from-page-confections.animating.animation-progress {
			.plum .plumnom-inner {
				transform: translate3d(-3.5em,0,0) scale(0.3);
				transition: all $animationSpeed ease;

				@media (min-width: $start-lg) {
					transform: translate3d(-6em,-2px,0) scale(0.4);
				}
			}
		}
	}
}